DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require
GOOGLE_APPLICATION_CREDENTIALS=../keys/top-caldron-496619-r8-183e57cbc51a.json
VERTEX_AI_PROJECT_ID=top-caldron-496619-r8
VERTEX_AI_LOCATION=us-central1
VERTEX_AI_MODEL=gemini-2.0-flash-lite
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:8081,exp://localhost:8081
